h1 {
    color: blue;
    font-size: 20px;
    text-transform: uppercase;
}
.wapper {
    height: 60px;
    width: 100%;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    .container-wapper {
        width: 1170px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .b__form--search {
        border: 1.5px solid transparent;
        position: relative;
        form,
        .search-result {
            width: 356px;
        }
        form {
            background: rgba(22, 24, 35, 0.06);
            width: 356px;
            height: 46px;
            align-items: center;
            padding: 12px 0 12px 15px;
            border-radius: 92px;
            position: relative;
            overflow: hidden;
            z-index: 1;
            margin: 0;
            display: flex;
            justify-content: space-around;
            position: relative;
            &::after {
                content: '';
                width: 1px;
                height: 28px;
                position: absolute;
                top: 9px;
                right: 52px;
                background-color: rgba(22, 24, 35, 0.12);
            }
        }
        &:focus-within {
            border: 1.5px solid rgba(22, 24, 35, 0.2);
            border-radius: 92px;
        }
        input {
            font-size: 16px;
            color: #000;
            background-color: transparent;
            outline: none;
            border: none;
            caret-color: red;
            &:focus {
                outline: none;
            }
        }
        .search-title {
            margin-bottom: 10px;
            padding: 5px 12px;
            font-weight: 600;
            font-size: 16px;
            color: rgba(22, 24, 35, 0.5);
        }
        .loading,
        .clear {
            // position: absolute;
            // right: calc(52px + 16px);
            // top: 50%;
            // transform: translateY(-50%);
            border: none;
            background-color: transparent;
            color: rgba(22, 24, 35, 0.34);
            cursor: pointer;
        }
        .search-btn {
            padding: 11px 16px 11px 12px;
            margin: -9px;
            font-size: 0;
            cursor: pointer;
            outline: none;
            border: none;
            border-radius: 0 92px 92px 0;
            background: transparent;
            margin-left: 0;
            &:hover {
                background: rgba(22, 24, 35, 0.03);
            }
            // &.active {
            //     background-color: ;
            // }
            svg {
                width: 24px;
                height: 24px;
                color: #828282;
            }
        }
    }
}
