.btn {
    border-radius: 4px;
    background-color: var(--white);
    min-width: 100px;
    padding: 9px 16px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid transparent;
    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
    &:hover {
        background: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.06),
                rgba(0, 0, 0, 0.06)
            ),
            #fe2c55;
    }
    + .btn {
        margin-left: 10px;
    }
}

.primary {
    color: var(--white);
    background-color: var(--primary);
    &:hover {
        background: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.06),
                rgba(0, 0, 0, 0.06)
            ),
            #fe2c55;
    }
}
.outline {
    color: var(--primary);
    border: 1px solid var(--primary);
    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
    }
}
.btn-text {
    border-radius: 4px;
    background-color: var(--white);
    min-width: 100px;
    padding: 9px 16px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid transparent;
    &:hover {
        color: var(--primary);
        border-color: var(--primary);
        background-color: transparent;
    }
}
.btn-rounded {
    border-radius: 999px;
    box-shadow: 0 2px 8px rgb(0 0 0 /6%);
    border-color: rgba(22, 24, 35, 0.12);
    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}
.btn-more {
    font-size: 20px;
    margin-left: 28px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding: 0 10px 0 0;
    &:hover {
        background: transparent;
    }
}
