.b__container {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    .b__content {
        flex: 3;
        h1 {
            text-transform: uppercase;
            color: blue;
        }
    }
}
